__Question 1:__
___Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.?___

In [5]:
email = input("Please enter your email Id: ").strip()

Please enter your email Id: sharat.dasari@gmail.com

In [73]:
def company_name():
    email = input("Please enter your emailId: ").strip()
    user = email[:email.index("@")]
    domain = email[email.index('@')+1:]
    company = domain[:domain.index(".")]
    print("User name of the Email-Id is : ", user)
    print("Domain name of the Email-Id is : ",domain)
    print("Company name of the Email-Id is :",company)

In [74]:
company_name()

Please enter your emailId: sharat.dasari@gmail.com
User name of the Email-Id is :  sharat.dasari
Domain name of the Email-Id is :  gmail.com
Company name of the Email-Id is : gmail

__Question 2:__
___Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.?___

In [2]:
name = "without,hello,bag,world"
name_1 = name.split(',')
name_1.sort()
name_1

result = ""
count = 0
for a in name_1:
    if count == 0:
        result += a
        count = count + 1 
    else:
        result += "," 
        result += a
        count = count + 1
print(result)

bag,hello,without,world

__Question 3:__
___Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp?___

In [98]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'banana', 'apple', 'cherry'}

In [100]:
for a in fruits:
  print(a)

banana
apple
cherry

In [101]:
#Checking weather banana present in set

print("banana" in fruits)

True

In [102]:
#adding a items to set
fruits.add("mango")

In [103]:
fruits

{'apple', 'banana', 'cherry', 'mango'}

In [104]:
#updating the existing set

In [105]:
fruits = {"apple", "banana", "cherry"}

fruits.update(["orange","mango","grapes"])

In [107]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [108]:
#Getting the length of the set
print(len(fruits))

6

In [109]:
#Removing data from set
fruits.remove("apple")
fruits

{'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [112]:
#discard

fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

In [113]:
#POP
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

print(fruits)

banana
{'apple', 'cherry'}

In [115]:
#Clearning the set
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [117]:
#Deleting the set
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [118]:
#Joining the set
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [119]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [120]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

__Question 4:__
___Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.?___

In [4]:
s = "1 2 4 6 5 7 8"
s1 = s.split(" ")
s1.sort()
c = 0
fs = ""

while c < len(s1)-1:
    if int(s1[c + 1]) - int(s1[c]) != 1:
        print(int(s1[c]) + 1)
    c = c + 1

3


__Question 5:__
___With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.?___

In [5]:
l = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
nl = []
for i in l:
#     print(i)
    for j in l:
        if nl.count(i) == 0:
            nl.append(i)
#             print(nl)
print(nl)

[12, 24, 35, 88, 120, 155]